@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ========== */
/* Typography */
/* ========== */
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* =========== */
/* Card Layout */
/* =========== */
.flex-container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 20px;
} 
.card-container-1{
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    gap: 20px;
}
.card-container-2{
    flex: 1;
}
.card{
    border-radius: 10px;
    border: 1px solid black;
}
.daniel{
    flex: 2 1 500px;
}
.jonathan {
    flex: 1 1 250px;
}
.patrick{
    flex: 2 1 400px;
}
.jeanette{
    flex: 1 1 250px;
}
/* =========== */
/* Card Design */
/* =========== */
.daniel{
    background-color: hsl(263, 55%, 52%);
    color: white;
}
.author-section {
    display: flex;
    gap: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.author-image img{
    border-radius: 50px;
    width: 40px;
    padding: 2px;
    box-shadow: 2px 2px 6px  hsl(264, 85%, 92%);
}
.review-highlights{
    font-size: 24px;
}
.full-review{
    opacity: 0.5;
}
.verified-graduate {
    opacity: 0.5;
}

/* =========== */
/* Mobile View */
/* =========== */
@media only screen and (max-width: 410px){
    .flex-container{
        flex-wrap: wrap;
        width: 90vw;
    }
    .card-container-1{
        flex-direction: column;
        flex: 1 1 100%;
    }
}