@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ========== */
/* Typography */
/* ========== */
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

/* =========== */
/* Card Layout */
/* =========== */
body{
    padding: 20px;
    background-color: hsl(0, 0%, 81%);
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1100px;
} 
.card-container-1{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 820px;
    gap: 30px;
}
.card-container-2{
  flex: 1 1 240px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  align-self: stretch;
  max-width: 820px;
} 
.card{
    border-radius: 10px;
}
.daniel{
    flex: 1 2 530px;
}
.jonathan {
    flex: 1 1 260px;
}
.patrick{
    flex: 1 2 530px;
}
.jeanette{
    flex: 1 1 260px;
}
.kira{
    flex: 1 1 260px;
}
/* ================== */
/* Common Card Design */
/* ================== */
.author-section {
    display: flex;
    gap: 1.2em;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 29px 30px 30px;
}
.author-image img{
    border-radius: 50px;
    width: 33px;
    padding: 2px;
    background-color: hsl(0, 0%, 100%, 0.4);
}
.verified-graduate{
    opacity: 0.5;
    font-size: 0.85em;
}
.review-highlights{
    font-size: 20px;
    opacity: 0.9;
}
.full-review{
    opacity: 0.5;
    max-width: 95%;
}

/* =========================== */
/* Author-specific Card Design */
/* =========================== */
.daniel{
    background-color: hsl(263, 55%, 52%);
    color: white;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 78% 0%;
}
.jonathan{
    background-color:hsl(217, 19%, 35%);
    color: white;
}
.patrick{
    color: white;
    background-color: hsl(219, 29%, 14%);
}
.kira{
    border: none;
}
.jeanette{
    background-color: hsl(0, 0%, 100%);
}

/* =========== */
/* Mobile View */
/* =========== */
@media only screen and (max-width: 410px){
.daniel {
    background-position: 90% 0;
}
}